@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 style="color:black ; text-align: center; padding: 1%;" class="fst-normal">Bienvenido a la tienda de videojuegos </h2>
    <h1 style="color:#1E90FF ; text-align: center;padding: 1%;" class="fw-bolder">MUNDO GAMER</h1>
    <img style="margin-top: 2%;" src="https://i.blogs.es/8e3fef/game-tienda-ociopia/1366_2000.jpg">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
